<h1>Listing cities</h1>

<table>
  <thead>
    <tr>
      <th>City Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path %>

<br>

<%= form_for :relationship, url: relationships_path do |f| %>
  <%= f.label :city_a %>
  <%= f.select :city_a, options_for_select(@cities.map {|c| [c.name, c.id] }) %>

  <%= f.label :city_b %>
  <%= f.select :city_b, options_for_select(@cities.map {|c| [c.name, c.id] }) %>

  <%= f.label :distance %>
  <%= f.text_field :distance %>

  <%= f.submit %>
<% end %>
